<!--It is common decourm to keep partials that will be shared accross many
views inside of a /shared directory-->

<!-- any is equal to !empty? -->
<!--object = either @user of @micropost object-->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--Pluralize = a rails helper that pluralizes words respectively-->
      The form contains <%= pluralize(object.errors.count, "error") %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
      
