<footer class = "footer">
  <small>
    The <a href = "https://www.railstutorial.org/"> Ruby on Rails tutorial</a>
    by <a href="http://www.michaelhartle.com/">Michael Hartle</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %> </li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.reailstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>